@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/ChulabhornLikitText/ChulabhornLikitText.css');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Manufacturing+Consent&family=Metamorphous&family=UnifrakturCook:wght@700&display=swap');

:root {
  --cmt-t: white;
  --cmt-l: #725c54;
  --cmt-n: white;
  --cmt-q: white;
  --cmt-b: #1e1003;
  --cmt-tt: #ad9991;
  --cmt-c: white;
  --cmt-s1: url(https://i.pinimg.com/736x/08/9a/e6/089ae6a3eb916636eff5f7327fc3d34b.jpg) center/cover;
  --cmt-s2: url(https://i.pinimg.com/736x/b4/a1/8d/b4a18d4bc9f31973ae162f50502bae3b.jpg) center/cover;
  --cmt-s3: url(https://i.pinimg.com/736x/2e/ac/24/2eac2436d344c544593dfcf6c4c0e803.jpg) center/cover;
  --cmt-s4: url(https://i.pinimg.com/736x/da/22/ca/da22ca5e8fdeda184d93bfc701557842.jpg) center 5%/cover;
}

/* width */
#clementis::-webkit-scrollbar {
  width: 0.2vw;
  height: 0.2vw;
}

/*track*/
#clementis::-webkit-scrollbar-track {
  border-radius: 0px;
  background: 0px;
}

/*handle*/
#clementis::-webkit-scrollbar-thumb {
  background: var(--cmt-l); 
  border-radius: 0px;
}

#clementislink a {
    color: var(--cmt-t);
    text-decoration: none; 
    line-height: 2.6vw;
}

#clementislink a:hover {
    color: var(--cmt-l);
}

.cmt-b {
  width: auto; 
  background: var(--cmt-b); 
  overflow: hidden; 
  color: var(--cmt-t); 
  font: 1.15vw Chulabhorn Likit Text;
}

.cmt-st {
  width: auto; 
  aspect-ratio: 2256/1268; 
  background: url(https://iili.io/fqFezIs.jpg) center/cover; 
  mask: linear-gradient(to bottom, black 40%, transparent 100%); 
  -webkit-mask: linear-gradient(to bottom, black 40%, transparent 100%); 
  box-sizing: border-box; 
  position: relative;
}

.cmt-i {
  width: 66%; 
  aspect-ratio: 32/27; 
  background: url(https://iili.io/fqKogF1.png) top/cover; 
  margin: auto; 
  position: relative; 
  z-index: 10; 
  filter: drop-shadow(2px 4px 6px #00000069);
}

.cmt-n {
  width: fit-content; 
  text-align: center; 
  color: var(--cmt-n); 
  font: 10vw Manufacturing Consent; 
  margin: auto; 
  left: 0; 
  right: 0; 
  position: absolute; 
  top: 20%; 
  line-height: 0.7; 
  text-shadow: 0 0 11px #00000069;
}

.cmt-tt {
  text-align: center; 
  font: 2vw Metamorphous; 
  color: var(--cmt-tt); 
  margin-top: -1vw; 
  position: relative; 
  z-index: 10;
}

.cmt-sb {
  font-size: 1.2vw;
}

.cmt-jus {
  width: 20%; 
  aspect-ratio: 1/1; 
  background: url(https://iili.io/fqFeREl.md.png) center/cover; 
  position: absolute; 
  left: 10%; 
  bottom: -33%; 
  user-select: none; 
  pointer-events: none;
}

.cmt-orc {
  width: 20%; 
  aspect-ratio: 1/1; 
  background: url(https://iili.io/fqFelpe.md.png) center/cover; 
  position: absolute; 
  right: 10%; 
  bottom: -33%; 
  user-select: none; 
  pointer-events: none;
}

.cmt-sl {
  width: 70%; 
  margin: 3vw auto; 
  display: flex; 
  gap: 1vw; 
  justify-content: center; 
  align-items: center;
}

.cmt-l {
  width: 22%; 
  height: 1px; 
  background: var(--cmt-l);
}

.cmt-tm {
  width: 6%; 
  aspect-ratio: 1/1; 
  background: var(--cmt-l); 
  mask: url(https://iili.io/fqf4jIV.png) center/cover; 
  -webkit-mask: url(https://iili.io/fqf4jIV.png) center/cover;
}

.cmt-st2 {
  width: auto; 
  aspect-ratio: 16/11; 
  position: relative;
}

.cmt-pl {
  width: 20%; 
  aspect-ratio: 500/1556; 
  background: url(https://iili.io/fqFe542.md.png) center/cover; 
  position: absolute; 
  top: 1%; 
  left: -7%; 
  user-select: none; 
  pointer-events: none;
}

.cmt-pr {
  width: 20%; 
  aspect-ratio: 500/1556; 
  background: url(https://iili.io/fqFe542.md.png) center/cover; 
  position: absolute; 
  top: 1%; 
  right: -7%; 
  transform: scaleX(-1); 
  user-select: none; 
  pointer-events: none;
}

.cmt-si {
  width: 77%; 
  margin: auto; 
  gap: 1vw; 
  display: flex; 
  box-sizing: border-box; 
  padding-top: 5vw;
}

.cmt-w {
  width: 50%;
}

.cmt-q {
  font: 2vw Metamorphous; 
  font-style: italic; 
  margin-bottom: 2vw;
  color: var(--cmt-q); 
  line-height: 1.4;
}

.cmt-sf {
  width: auto; 
  display: flex; 
  gap: 0.6vw; 
  align-items: center; 
  margin-top: 0.5vw;
}

.cmt-ct {
  width: fit-content; 
  padding: 0 0.4vw; 
  background: var(--cmt-c); 
  color: var(--cmt-b); 
  font: 1.1vw Metamorphous;
}

.cmt-fc {
  width: fit-content;
}

.cmt-pc {
  width: fit-content; 
  padding: 0 0.4vw; 
  background: var(--cmt-c); 
  color: var(--cmt-b); 
  font: 1.1vw Metamorphous;
}

.cmt-pi {
  margin-top: 1.4vw; 
  width: auto; 
  aspect-ratio: 30/23; 
  overflow-y: scroll; 
  line-height: 1.6; 
  box-sizing: border-box; 
  padding-right: 1vw;
}

.cmt-sc {
  margin-top: 3vw; 
  max-width: 100%; 
  overflow-x: scroll; 
  scrollbar-width: none; 
  display: flex; 
  flex-wrap: nowrap;
}

.cmt-s1 {
  display: inline-block; 
  margin-right: 1vw; 
  min-width: 35%; 
  aspect-ratio: 1/1; 
  border-radius: 10px; 
  border: 1.3px solid var(--cmt-l); 
  background: var(--cmt-s1);
}

.cmt-s2 {
  display: inline-block; 
  margin-right: 1vw; 
  min-width: 35%; 
  aspect-ratio: 1/1; 
  border-radius: 10px; 
  border: 1.3px solid var(--cmt-l); 
  background: var(--cmt-s2);
}

.cmt-s3 {
  display: inline-block; 
  margin-right: 1vw; 
  min-width: 35%; 
  aspect-ratio: 1/1; 
  border-radius: 10px; 
  border: 1.3px solid var(--cmt-l); 
  background: var(--cmt-s3);
}

.cmt-s4 {
  display: inline-block; 
  margin-right: 1vw; 
  min-width: 35%; 
  aspect-ratio: 1/1; 
  border-radius: 10px; 
  border: 1.3px solid var(--cmt-l); 
  background: var(--cmt-s4);
}

.cmt-st3 {
  width: auto; 
  aspect-ratio: 16/19; 
  position: relative;
}

.cmt-fp {
  width: 45%; 
  aspect-ratio: 1792/2304; 
  background: url(https://iili.io/fqFeY2S.png) center/cover; 
  transform: rotate(10deg); 
  position: absolute; 
  top: 0%; 
  left: -13%; 
  user-select: none; 
  pointer-events: none;
}

.cmt-rs {
  width: 77%; 
  aspect-ratio: 1792/2304; 
  background: url(https://iili.io/fqFeX4V.png) center/cover; 
  position: absolute; 
  top: 15%; 
  left: -15%; 
  filter: drop-shadow(2px 4px 6px #00000069); 
  user-select: none; 
  pointer-events: none;
}

.cmt-sf3 {
  width: 77%; 
  margin: auto; 
  gap: 1vw; 
  display: flex; 
  box-sizing: border-box;
}

.cmt-lc {
  width: fit-content; 
  padding: 0 0.4vw; 
  background: var(--cmt-c); 
  color: var(--cmt-b); 
  font: 1.1vw Metamorphous; 
  margin-top: -7vw;
}

.cmt-fl {
  margin-top: 1.4vw; 
  width: auto; 
  aspect-ratio: 30/15; 
  overflow-y: scroll; 
  line-height: 1.6; 
  box-sizing: border-box; 
  padding-right: 1vw;
}

.cmt-bc {
  width: fit-content; 
  padding: 0 0.4vw; 
  background: var(--cmt-c); 
  color: var(--cmt-b); 
  font: 1.1vw Metamorphous; 
  margin-top: 4vw;
}

.cmt-sbt {
  margin: 4vw 0 2vw 0; 
  width: auto; 
  font: 1vw Metamorphous;
}

.cmt-bt {
  width: fit-content; 
  padding: 0.4vw 0.8vw; 
  border-radius: 11px; 
  background: #00000069; 
  border: 1.3px solid var(--cmt-l); 
  display: inline-block; 
  margin-right: 0.7vw;
  color: var(--cmt-l);
}

.cmt-mb {
  width: fit-content; 
  padding: 0 0.8vw; 
  border-radius: 11px; 
  background: #51454580; 
  border: 1.3px solid var(--cmt-l); 
  display: inline-block; 
  margin-right: 0.7vw;
}

.cmt-so {
  width: auto; 
  padding: 1vw 0; 
  display: flex; 
  gap: 1vw; 
  border-top: 1.3px solid var(--cmt-l);
}

.cmt-ot {
  color: var(--cmt-l); 
  width: 29%; 
  font: 1.2vw Metamorphous; 
  margin-left: 1vw;
}

.cmt-oa {
  width: 71%; 
  font-size: 1vw; 
  margin-right: 1vw;
}

.cmt-st4 {
  width: auto; 
  padding-bottom: 3vw; 
  margin: auto; 
  width: 77%; 
  text-align: center;
}

.cmt-r {
  font: 4vw Manufacturing Consent; 
  color: var(--cmt-n); 
  margin-top: 4vw;
}

.cmt-al {
  margin-top: 1.4vw; 
  width: auto; 
  aspect-ratio: 30/10; 
  overflow-y: scroll; 
  line-height: 1.6; 
  box-sizing: border-box; 
  padding-right: 1vw;
}