@import url('https://fonts.cdnfonts.com/css/british-classical');
@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/ChulabhornLikitText/ChulabhornLikitText.css');
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&amp;display=swap');

.cmt-ct-bg {
width: 100%; 
aspect-ratio: 16/9; 
background: url(https://iili.io/fBjLn7j.png) center/cover, url(https://iili.io/K3J2tff.png) center/cover, #000;
box-sizing: border-box; 
padding: 12vw 0;
}

.cmt-ct-st {
width: 40%; 
height: 100%; 
margin: auto; 
text-align: justify; 
font: 1.3vw Chulabhorn Likit Text; 
color: white; 
line-height: 1.6; 
display: flex; 
justify-content: center; 
align-items: center; 
}

.cmt-ct-ss {
width: 100%;
}

.cmt-ct-tt {
text-align: center; 
font: 7vw British Classical; 
margin-bottom: 1.8vw;
}

.cmt-ct-sb {
font: 1.1vw TikTok Sans; 
margin-top: -0.6vw; 
text-transform: uppercase; 
color: #5e5e5e;
}

.cmt-ct-ds {
display: block; 
width: 5%; 
aspect-ratio: 1/1; 
background: #5e5e5e; 
mask: url(https://iili.io/fBex7Ns.png) center/cover; 
-webkit-mask: url(https://iili.io/fBex7Ns.png) center/cover; 
margin: 1.6vw auto 0 auto;
transition: background 0.5s ease;
}

a.cmt-ct-ds:hover {
background: #fff;
}

.cmt-ct-q {
text-align: center; 
margin-bottom: 1vw;
}

.cmt-ct-cbg {
width: 100%; 
aspect-ratio: 16/9; 
background: url("https://iili.io/fB8xSyP.png") center/cover, url("https://iili.io/K3J2tff.png") center/cover, #000;
box-sizing: border-box; 
padding: 8vw;
}

.cmt-ct-cf {
width: 100%; 
display: flex; 
gap: 30vw; 
margin: auto; 
}

.cmt-ct-cw {
width: 50%;
}

.cmt-ct-ctt {
font: 4vw British Classical; 
color: white; 
text-align: center; 
margin-bottom: 1vw;
}

.cmt-ct-cb {
padding: 0.4vw 0.6vw; 
border-radius: 10px; 
border: 1.2px solid #5e5e5e; 
text-align: center; 
font: 1.3vw TikTok Sans; 
margin: 0 auto 1vw auto; 
color: #5e5e5e; 
width: 70%;
transition: background 0.5s ease, color 0.5s ease, border 0.5s ease; 
display: block; 
text-decoration: none;
}

a.cmt-ct-cb:hover {
background: #5e5e5e69;
color: white; 
border: 1.2px solid #fff; 
}

.cmt-ct-cs {
width: 100%; 
aspect-ratio: 30/39; 
overflow-y: scroll; 
scrollbar-width: none;
}